fieldset
{
  position: relative;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button-reset::-moz-focus-inner,
.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}


::-webkit-input-placeholder {
   color: var(--black);
   font-size: var(--spacing-medium);
   line-height: normal;
}

:-moz-placeholder {
   color: var(--black);
   font-size: var(--spacing-medium);
   line-height: normal;
}

::-moz-placeholder {
   color: var(--black);
   font-size: var(--spacing-medium);
   line-height: normal;
}

:-ms-input-placeholder {
   color: var(--black);
   font-size: var(--spacing-medium);
   line-height: normal;
}

