{{ define "main" }}

    <div class="ph3 bg-off-white">
        <div class="center mw4-5 pv3">

            <img src="{{ .Params.logo }}" alt="" class="db w4 center pv4">

            <h1 class="f3">{{ .Content }}</h1>
            <div class="db ">
                <button class="btn f2  mb2 no-underline raise flex fl" onclick="netlifyIdentity.open();">Log in!</button>
                <button class="btn f2  mb2 no-underline raise flex  fr" onclick="netlifyIdentity.open('signup');">Sign up!</button>
            </div>
            <div class="cl"></div>
            </div>

        </div>
    </div>

{{ end }}
